.line1{
    width: 100%;
    height: 45px;
    position:relative;
}

.line1::after,.line1::before{
    content: '';
    position: absolute;
    margin:auto;
    height: 2px;
    background:red;
    top:30%;
}
.line1::after{
    left:0;

}
.line1::before{
    right:0;
}
